@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap");
body {
  font-family: "Sora", sans-serif;
  margin: 0;
  padding: 0;
  background: black;
  width: 100%;
  overflow-x: hidden;
  min-height: 100%;
  height: 100%;
}
html {
  height: 100%;
}

.sticky {
  position: fixed;
  top: 0;
}
.sticky + main {
  padding-top: 70px;
}
header {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 10px;
  padding-right: 0;
  padding-left: 0;
  z-index: 100;
  width: 100%;
  max-width: 100%;
  height: 40px;
}

header .container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-direction: row;
  max-width: 1200px;
  width: 90%;
  margin: auto;
  max-height: 100%;
}

.groupButtons {
  margin-right: 10px;
  gap: 10px;
  transition: all 0.3s ease-in-out;
}
.groupButtons--open {
  transform: translate(0) !important;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger--open .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.hamburger--open .bar:nth-child(2) {
  opacity: 0;
}
.hamburger--open .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
.bar {
  height: 2px;
  width: 27px;
  background: white;
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
}
.button {
  text-decoration: none;
  font-size: x-large;
  color: white;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

#pagrindinis {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: url(assets/gabriel-perez-QkvIvL8wYuw-unsplash.jpg) no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  max-width: 100%;
}
#pagrindinis :first-child {
  padding-top: 150px;
  margin: 0;
  font-weight: bolder;
  font-size: xx-large;
}
#pagrindinis p {
  font-size: small;
  padding-bottom: 100px;
}
.more-button {
  border: 3px solid #00a67e;
  color: black;
  background-color: #00a67e;
  border-radius: 25px;
  padding: 10px;
  text-decoration: none;
}
main {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;

  max-height: 100%;
}
img {
  max-height: 100%;
  max-width: 100%;
}
section {
  margin-bottom: 10px;
  background-color: black;
  color: white;
  width: 100%;
}

.main-head {
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 10px;
  width: 100%;
}
.main-head :first-child {
  margin-right: 10px;
  margin-left: 10px;
}
.alt-head {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  width: 90%;
  margin: auto;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-style: preserve-3d;
  transition: 0.5s ease;
  animation: cubic-bezier();
}
.card {
  color: white;
  border: solid;
  background: rgba(0, 166, 127, 0.377);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #00a67e;
  margin-bottom: 40px;
  border-radius: 10px;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
}
.card p {
  padding: 0 10px;
}
.card h2,
h3 {
  padding: 0 10px;
}

.k-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  border: solid;
  background: rgba(0, 166, 127, 0.377);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #00a67e;
  margin-bottom: 40px;
  border-radius: 10px;
  padding: 40px;
}

.k-right {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.k-left textarea {
  resize: vertical;
  min-height: 100px;
  max-height: 300px;
}

.k-left input,
.k-left textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid;
}
.k-left form :last-child {
  background: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  background-color: #00a67e;
  color: white;
  border: 1px solid #00a67e;
  transition: 0.4s linear;
  cursor: pointer;
}
.k-left form {
  gap: 1em;
  display: flex;
  flex-direction: column;
  border: solid white 3px;
  padding: 25px;
  border-radius: 15px;
}

/* footer */

footer {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
}

/* scroollll */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00a67e;
  border-radius: 10px;
}

@media screen and (min-width: 320px) {
  .groupButtons {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.75);
    transform: translateX(100%);
  }
  .groupButtons a {
    padding: 0 25px;
  }
  .hamburger {
    display: block;
  }
  main {
    margin: 0 10px;
  }
  .k-form,
  .k-right {
    align-items: center;
  }

  .card {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .groupButtons {
    position: static;
    width: auto;
    flex-direction: row;
    background-color: transparent;
    transform: translate(0) !important;
  }
  .hamburger {
    display: none;
  }
  main {
    margin: 0 10px;
  }
  .k-form {
    flex-direction: row;
  }
  .k-right {
    align-items: end;
  }
  .k-left {
    min-width: 300px;
    width: 40%;
  }

  .card {
    max-width: 100%;
  }
}

@media screen and (min-width: 1080px) {
  p {
    font-size: large;
  }
  .main-head {
    font-size: x-large;
  }
  main {
    margin: 0 auto;
  }
  .container {
    display: flex;
    align-items: center;
  }
  #apie .row {
    flex-direction: row;
  }
  #apie .rev-row {
    flex-direction: row-reverse;
  }
  #apie .card img {
    max-width: 570px;
  }
  #apie div {
    padding: 10px;
  }
  .k-form {
    flex-direction: row;
  }
}
